/* CSS Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Montaga', serif; */
/* Styles for mobile devices */

header{
    background-color: cadetblue;
}
body {
    background-color: #000000;
}
.img_cntainr{
    width: 100%;
    height: 60%;
    border-bottom: 1.5px solid black;
}
img{
   width: 100%;
   height: 90%;
   object-fit: contain;
}

p{
    font-weight: 600;
}

/*Footer section styles*/
footer {
    background-color: #1f1f1f;
    width: 100%;
    height: 12%;
    border-top: 2px solid rgb(56, 225, 38);
    ;
}

footer p {

    text-align: center;
    color: white;
    width: 50%;
    font-size: 80%;
    margin: 0 auto;
    line-height: 100%;
    padding: 0.5%;
}

footer>p>strong {
    font-family: 'Montserrat', sans-serif;
}

/* Media Queries */
@media (min-width: 576px) {
body{
    background-color: khaki;
}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
body{
    background-color: rgb(96, 206, 160);
}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
body{
    background-color: black;
}
 }